---
layout: page
title: "Overview"
description: ""
apis:
  - switch.md
  - machine.md
---

{% include JB/setup %}

 <a href="machines.html">Machine</a> | <a href="clusters.html">Cluster</a> |  <a href="cluster_hots.html">Cluster Host</a>


<h3>Switch Methods</h3>
<table class="table table-stripped">
<thead>
<th>Method</th>
<th>URI</th>
<th>Description</th>
<th></th>
</thead>

<tr>
<td><span class="label label-success">POST</span></td>
<td>/switches</td>
<td>Create/Add a new switch</td>
<td><button type="button" class="btn btn-small btn-primary" data-target="#switch_api" data-toggle="collapse">Detail</button></td>
</tr>
<tr>
<td colspan="4" class="hiddenRow">
<div class="accordian-body collapse" id="switch_api">
 {% capture myinclude %}{% include switchpost.md %}{% endcapture %}
{{ myinclude | markdownify }}
</div>
</td>
</tr>

<tr>
<td><span class="label label-success">GET</span></td>
<td>/switches?name=value</td>
<td>Lists details for all switches, or optionally return numbers of results containing specified switches</td>
<td><button type="button" class="btn btn-small btn-primary" data-target="#switchget_api" data-toggle="collapse">Detail</button></td>
</tr>
<tr>
<td colspan="4" class="hiddenRow">
<div class="accordian-body collapse" id="switchget_api">
 {% capture myinclude %}{%  include switchget.md %}{% endcapture %}
{{ myinclude | markdownify }}
</div>
</td>
</tr>



<tr>
<td><span class="label label-success">GET</span></td>
<td>/switches/{id}</td>
<td>Lists details for a specified switch</td>
<td><button type="button" class="btn btn-small btn-primary" data-target="#switchget2_api" data-toggle="collapse">Detail</button></td>
</tr>
<tr>
<td colspan="4" class="hiddenRow">
<div class="accordian-body collapse" id="switchget2_api">
 {% capture myinclude %}{%  include switchget2.md %}{% endcapture %}
{{ myinclude | markdownify }}
</div>
</td>
</tr>



</table>
