<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Compass</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Compass is an open source project designed to provide deployment as a service to a set of bare metal machines. It provides a Restful API service for operators to pragmatically deploy an OpenStack system on to the raw physical resources. ">
    <meta name="keywords" content="OpenStack, Compass, deployment, distributed systems, cobbler, Chef, open source"> 
    <meta name="author" content="">
    <meta name="twitter:widgets:csp" content="on">
    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->

    <!-- Le styles -->
    <link href="/assets/css/bootstrap.css" rel="stylesheet">
    <!--link href="/assets/css/bootstrap.min.css" rel="stylesheet"-->
    <link href="/assets/css/bootstrap-responsive.css" rel="stylesheet">
    <link href="/assets/css/docs.css?body=1" rel="stylesheet">
    <link href="/assets/js/google-code-prettify/prettify.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/assets/css/style.css">
  </head>

  <body data-spy="scroll" data-target=".bs-docs-sidebar">


{% include themes/twitter/header.html %}

{{ content }}




  <!-- Le javascript
  ================================================== -->
  <!-- Placed at the end of the document so the pages load faster -->
  <script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
  <script src="/assets/js/jquery.js"></script>
  <script src="/assets/js/bootstrap-transition.js"></script>
  <script src="/assets/js/bootstrap-alert.js"></script>
  <script src="/assets/js/bootstrap-modal.js"></script>
  <script src="/assets/js/bootstrap-dropdown.js"></script>
  <script src="/assets/js/bootstrap-scrollspy.js"></script>
  <script src="/assets/js/bootstrap-tab.js"></script>
  <script src="/assets/js/bootstrap-tooltip.js"></script>
  <script src="/assets/js/bootstrap-popover.js"></script>
  <script src="/assets/js/bootstrap-button.js"></script>
  <script src="/assets/js/bootstrap-collapse.js"></script>
  <script src="/assets/js/bootstrap-carousel.js"></script>
  <script src="/assets/js/bootstrap-typeahead.js"></script>
  <script src="/assets/js/bootstrap-affix.js"></script>

  <script src="/assets/js/holder/holder.js"></script>
  <script src="/assets/js/google-code-prettify/prettify.js"></script>

  <script src="/assets/js/application.js"></script>
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-55186188-1', 'auto');
    ga('send', 'pageview');

  </script>

  <script type="text/javascript">
  $(document).ready(function () {
      $('.carousel').carousel({
          interval: 12000
      });

      $('.carousel').carousel('cycle');
  });
  </script>
  </body>
</html>


